@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5px;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_menu ul li {
  margin: 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 550;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #252b46;
}

.nav_menu ul li:hover {
  color: #fa5757;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav_menu button {
  background-color: #fa5757;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 15px;
  color: #fff;
  padding: 13px 30px;
  -webkit-box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.nav_menu button:hover {
  border: 1px solid #fa5757;
  background: #fff;
  color: #fa5757;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  min-height: 50vh;
}

.home_texts h2 {
  font-size: 2.5rem;
  color: #252b46;
}

.home_texts p {
  font-size: 15px;
  font-weight: 400;
  max-width: 30vw;
  color: #9194a1;
}

.home_texts .chromeBtn {
  background-color: #5368df;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1px;
}

.home_texts .chromeBtn:hover {
  border: 1px solid #5368df;
  background: #fff;
  color: #5368df;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.home_texts .firefoxBtn {
  background-color: #f3f3f3;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 5px;
  color: #9194a1;
  font-weight: 700;
  outline: none;
  -webkit-box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1px;
}

.home_texts .firefoxBtn:hover {
  border: 1px solid #252b46;
  background: #fff;
  color: #252b46;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.home_img img {
  position: relative;
  width: 100%;
  z-index: 2;
}

.home_img .bg {
  position: absolute;
  bottom: 9rem;
  right: 0;
  width: 30%;
  height: 40%;
  border-radius: 300px 0 0 300px;
  background-color: #5368df;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  margin: 50px auto 0 auto;
}

.features h2 {
  font-weight: 600;
  color: #252b46;
}

.features p {
  max-width: 500px;
  text-align: center;
  font-size: 17px;
  color: #9194a1;
}

section .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .tab h2 {
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  color: #9194a1;
  margin: 30px;
  padding: 20px;
  border-bottom: 1px solid #9194a1;
}

section .tab h2:hover {
  color: #fa5757;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section .tab h2.show {
  border-bottom: 2px solid #fa5757;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section .tabcontent {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 20px auto;
  min-height: 55vh;
}

section .tabcontent .img img {
  position: relative;
  width: 100%;
  z-index: 2;
}

section .tabcontent .img .bg {
  position: absolute;
  bottom: -42rem;
  left: 0;
  width: 40%;
  height: 40%;
  border-radius: 0 300px 300px 0;
  background-color: #5368df;
}

section .tabcontent_texts h2 {
  font-size: 2.5rem;
  color: #252b46;
}

section .tabcontent_texts p {
  font-size: 15px;
  font-weight: 400;
  max-width: 30vw;
  color: #9194a1;
}

section .tabcontent_texts .tabBtn {
  background-color: #5368df;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1px;
}

.extension {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extension_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px;
  padding: 7rem auto;
}

.extension_card img {
  margin-top: 20px;
}

.extension_card .texts {
  text-align: center;
}

.extension_card .texts .h5 {
  font-size: 1.5rem;
  color: #252b46;
  font-weight: 700;
}

.extension_card .texts p {
  overflow: hidden;
  font-size: 14px;
  color: #9194a1;
  margin-bottom: 30px;
}

.extension_card .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extension_card .last .btn {
  background-color: #5368df;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px 0;
}

.extension_card .last .btn:hover {
  border: 1px solid #5368df;
  background: #fff;
  color: #5368df;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#one {
  margin-top: 6rem;
}

#two {
  margin-top: 12rem;
}

.accord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.accord .acc {
  width: 50%;
}

.accord .acc .accordion {
  color: #252b46;
  cursor: pointer;
  padding: 2px;
  text-align: left;
  border-top: 1px solid #9194a1;
  border-right: none;
  border-left: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.accord .acc .accordion:hover {
  color: #fa5757;
}

.accord .acc .accordion:after {
  content: url("../images/icon-arrow.svg");
  float: right;
}

.accord .acc .panel {
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  max-height: 0;
}

.accord .acc .panel.show {
  display: block !important;
  opacity: 1;
  max-height: 300px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.accord .acc .panel p {
  color: #9194a1;
  font-size: 15px;
}

.accord button {
  background-color: #5368df;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */