@mixin media-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@include media-sm() {
  .nav {
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;

    &_menu {
      display: none;

      ul {
        display: block;
        margin: 8rem auto 0;
        padding: 0 3rem;

        li {
          color: #fff;
          text-align: center;
          font-size: 1rem;
          font-weight: 10;
          margin: 0;
          padding: 20px;
          letter-spacing: 2px;
          border-bottom: 1px solid $GrayishBlue;
          border-top: 1px solid $GrayishBlue;
        }
      }

      &.open {
        display: block;
        background: hsla(229, 31%, 21%, 0.91);
        position: absolute;
        top: 0rem;
        left: 0;
        height: 100vh;
        width: 100vw;
        transition: 1s ease-in-out;
        position: fixed;
      }

      button {
        background-color: transparent;
        text-transform: uppercase;
        border: 1.5px solid #fff;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: 1.5px;
        width: 80vw;
        margin: 30px 3rem;

        &:hover{
        background-color: transparent;
        border: 1.5px solid #fff;
        color: #fff;
        }
  
      }
    }
    .menu {
      #hamburger {
        display: block;
        cursor: pointer;

        &.close {
          display: none;
        }
      }
      #close {
        display: none;

        &.open {
          display: block;
          position: relative;
          top: 3rem;
          cursor: pointer;
          transition: 1s ease-in-out;
          position: fixed;
        }
      }
    }
  }
}
